<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设备详情</title>
    <!-- 引入 ECharts -->
    <script src="/js/echarts.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/api_tools.js"></script>
</head>

<body>
    <div id="lineChart" style="width: 600px; height: 400px;"></div>
    <div id="barChart" style="width: 600px; height: 400px;"></div>
    <div id="gaugeChart" style="width: 600px; height: 400px;"></div>

    <script th:inline="javascript">
        const deviceId = [[${deviceId}]];
        const deviceType = [[${deviceType}]];
        // 折线图
        let lineChart = echarts.init(document.getElementById('lineChart'));
        let lineOption = {
            title: {
                text: 'Temperature Line Chart'
            },
            xAxis: {
                name: '时间',
                type: 'category'
            },
            yAxis: {
                type: 'value'
            }
        };
        lineChart.setOption(lineOption);

        // 柱状图
        let barChart = echarts.init(document.getElementById('barChart'));
        let barOption = {
            title: {
                text: 'Temperature Bar Chart'
            },
            xAxis: {
                name: '时间',
                type: 'category',
            },
            yAxis: {
                type: 'value'
            }
        };
        barChart.setOption(barOption);
        // 仪表盘
        let gaugeChart = echarts.init(document.getElementById('gaugeChart'));
        let gaugeOption = {
            series: [{
                type: 'gauge',
                data: [{
                    value: 0,
                    name: 'Temperature'
                }]
            }]
        };
        gaugeChart.setOption(gaugeOption);

        //刷新数据
        function refresh(){
            let {x, y} = queryHistory(deviceId, deviceType);
            let lineOption = lineChart.getOption();
            for(let i = 0; i < x.length; i++){
                x[i] = echarts.format.formatTime("hh:mm:ss", x[i]);
            }
            lineOption.xAxis = {
                name: '时间',
                type: 'category',
                data: x
            };
            lineOption.series = [{
                name: '传感器',
                data: y,
                type: 'line',
                smooth: true,
                areaStyle: {}
            }];
            lineChart.setOption(lineOption);
            let barOption = barChart.getOption();
            barOption.xAxis = {
                name: '时间',
                type: 'category',
                data: x
            }
            barOption.series = [{
                name: '传感器',
                data: y,
                type: 'bar',
            }];
            barChart.setOption(barOption);
            let gaugeOption = gaugeChart.getOption();
            gaugeOption.series[0].data[0].value = y[y.length - 1];
            gaugeChart.setOption(gaugeOption);
        }
        //定时刷新,间隔:1s
        setInterval(function (){
            refresh();
        }, 1000);
        refresh();
    </script>
</body>

</html>