<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmu.smarthome.mapper.HumidityMapper">

    <select id="getHistory" resultType="edu.xmu.smarthome.entity.Humidity">
        SELECT
            *
        FROM
            (SELECT * FROM humidity WHERE deviceId = #{deviceId} ORDER BY date DESC LIMIT 20) as A
        ORDER BY A.date
    </select>
    <insert id="insert">
        INSERT INTO
            humidity (deviceId, value, date)
        VALUE (#{deviceId}, #{value}, #{date})
    </insert>
    <delete id="clearHistory">
        DELETE
        FROM humidity
        WHERE deviceId = #{deviceId}
    </delete>
    <delete id="deleteAll">
        TRUNCATE TABLE humidity
    </delete>
</mapper>
