<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmu.smarthome.mapper.TemperatureMapper">

    <select id="getHistoryTemperatures" resultType="edu.xmu.smarthome.entity.Temperature">
        SELECT
            *
        FROM
            (SELECT * FROM temperature WHERE deviceId = #{deviceId} ORDER BY date DESC LIMIT 20) as A
        ORDER BY A.date
    </select>
    <insert id="insertTemperature">
        INSERT INTO
            temperature (deviceId, value, date)
        VALUE (#{deviceId}, #{value}, #{date})
    </insert>
</mapper>
